@use "../abstract/vars" as *;
@use "../abstract/mixins" as *;

/*
   ==== Header ====
*/

.header {
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(20) 0;
  border-bottom: 1px solid;

  @media (max-width: $breakpoint992) {
    padding: rem(18) 0 rem(18);
  }
  @media (max-width: $breakpoint768) {
    padding: rem(16) 0 rem(16);
  }
  @media (max-width: $breakpoint480) {
    padding: rem(14) 0 rem(14);
  }
}

/*
   ==== Menu ====
*/
.menu {
  display: flex;
  gap: 30px;

  // .menu__item
  &__item {
    display: flex;
    position: relative;
  }

  // .menu__item-link
  &__item-link {
    color: var(--silver-co);
    font-weight: var(--fw-medium);
    font-size: rem(28);
    line-height: rem(34);
    display: flex;
    position: relative;
    transition: 0.3s color;

    @media (max-width: $breakpoint992) {
      font-size: rem(26);
      line-height: rem(32);
    }

    &.active {
      color: var(--black-co);
    }

    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -3px;
      background: #131418;
      height: 1px;
      width: 100%;
      transform: scale(0);
      transition: 0.5s transform;
    }

    &:hover {
      &:after {
        transform: scale(1);
      }
    }
  }

  // Mobile menu styles
  @media screen and (max-width: $burgerBreakpoint) {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100vw;
    transition: left 0.3s;
    pointer-events: all;

    .menu__item-link {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;

        &.active {
            color: #131418;
        }
    }
    &.active {
      left: 0;
      z-index: 2;
    }
  }
}

/*
   ==== Burger ====
*/

.burger {
  display: none;
  background: transparent;
  z-index: 3;
  @media screen and (max-width: $burgerBreakpoint) {
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;

    &.active {
      &:before {
        background: var(--burger-active-color);
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: var(--burger-active-color);
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: var(--burger-color);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: var(--burger-color);
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }
}
