<header class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo"><a href="#">Tomas<br>Pateckis</a> </div>
            <nav>
                <ul class="menu">
                    <li class="menu__item"><a href="#" class="menu__item-link active">Home</a></li>
                    <li class="menu__item"><a href="#" class="menu__item-link">About</a></li>
                    <li class="menu__item"><a href="#" class="menu__item-link">Works</a></li>
                    <li class="menu__item"><a href="#" class="menu__item-link">Contact</a></li>
                </ul>
            </nav>
            <button class="burger">
                <span></span>
            </button>
        </div>
    </div>
</header>